.card-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;

    background: var(--cardGray);
    border-radius: 8px;
    padding: 1.7em;
}

.card-small p{
    margin: 0;
}

.card-small-views{
    color:var(--gray);
    font-weight: bold;
    font-size: .9em;
}

.card-small-icon{
    text-align: right;
}

.card-small-number{
    font-weight: bold;
    font-size: 2em;
    line-height: .9;
}


.card-small-percentage{
    text-align: right;
    color: var(--lime-green);
    font-size: .8em;
    font-weight: bold;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}


.card-small-percentage .is-danger{
    color: var(--bright-red);

}

.card-small-percentage span{
    display: flex;
    align-items: flex-end;
}


.card-small-percentage span i{
    margin-right: 5px;
    height: 10px;
}


.card-small-percentage .is-danger i{
    height: 15px;
}


/*SOCIAL NETWORK ICONS*/
.card-small-icon .icon-facebook-square {
    color: var(--facebook);
    font-size: 1.2em;
}

.card-small-icon .icon-twitter {
    color: var(--twitter);
    font-size: 1.2em;
}

.card-small-icon .icon-instagram {
    background: linear-gradient(
    to right,
    var(--instagram-1) 0%,
    var(--instagram-2) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2em;
}

.card-small-icon .icon-youtube {
    color: var(--youtube);
    font-size: 1.2em;
}

